<!-- *ngIf => Directiva estructural que permite agregar o eliminar elementos del DOM según una condición especificada -->
<div *ngIf="balance" class="balance">
    <div class="balance__header">
        <h4>Total Balance</h4>
        <!-- Pipes: Son utilizados para formatear, filtrar y manipular datos de manera sencilla y reutilizable. -->
        <!-- Permite transformar los datos antes de mostrarlos en la interfaz de usuario. -->
        <h2>{{ balance.amount | currency }}</h2>
    </div>
    <div class="balance__info">
        <div>
            <h4>Income</h4>
            <h3>{{ balance.income | currency }}</h3>
        </div>
        <div>
            <h4>Expenses</h4>
            <h3>{{ balance.expenses | currency }}</h3>
        </div>
    </div>
</div>